<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center"> 
      <h1>Album example</h1>
    </ion-row>

    <ion-row class="ion-justify-content-center">        
      <p>Something short and leading about the collection below-its contents, the creator, etc. Make it short and sweet, but not too short so folks don´t simply skip over it entirely.</p>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button size="medium">Main call to action</ion-button>
      <ion-button color="medium" size="medium">Secondary action</ion-button>
    </ion-row>

    <ion-row>
      <ion-col size-xs=12 size-sm=6 size-md=6 size-lg=4 size-xl=4>        
        <ion-card>
          <img src="https://nightinacar.org/assets/img/placeholder_600x400.svg" />          
          <ion-card-content>
            This is a wider card whit supporting text below as a natural lead-in to additional content. This is a little bit longer.
          </ion-card-content>
          <ion-item>
            <ion-button color="light" slot="start" class="ion-no-margin">View</ion-button>
            <ion-button color="light" slot="start" class="ion-no-margin">Edit</ion-button>    
            <ion-label slot="end">9 mins</ion-label>        
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col size-xs=12 size-sm=6 size-md=6 size-lg=4 size-xl=4>
        <ion-card>
          <img src="https://nightinacar.org/assets/img/placeholder_600x400.svg" />          
          <ion-card-content>
            This is a wider card whit supporting text below as a natural lead-in to additional content. This is a little bit longer.
          </ion-card-content>
          <ion-item>
            <ion-button color="light" slot="start" class="ion-no-margin">View</ion-button>
            <ion-button color="light" slot="start" class="ion-no-margin">Edit</ion-button>    
            <ion-label slot="end">9 mins</ion-label>        
          </ion-item>
        </ion-card>     
      </ion-col>
      <ion-col size-xs=12 size-sm=6 size-md=6 size-lg=4 size-xl=4>
        <ion-card>
          <img src="https://nightinacar.org/assets/img/placeholder_600x400.svg" />          
          <ion-card-content>
            This is a wider card whit supporting text below as a natural lead-in to additional content. This is a little bit longer.
          </ion-card-content>
          <ion-item>
            <ion-button color="light" slot="start" class="ion-no-margin">View</ion-button>
            <ion-button color="light" slot="start" class="ion-no-margin">Edit</ion-button>    
            <ion-label slot="end">9 mins</ion-label>        
          </ion-item>
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
